{{!-- header for the home page--}}
<h1>Inventory Items</h1>

{{!-- how to add a new item to the db--}}
<div class='new-item'>
	
	{{!-- The header above the inputs --}}
	<h2>Adding a new Item</h2>
	
	{{!-- Post to collect input for new items --}}
	<form method='POST' action='/addItem'>
		<p><label>Name:</label><input name='name' required/></p>
		<p><label>Description:</label><input name='description'/></p>
		<p><label>Quanity:</label><input type='number' name='quanity' 
		min='0' max ='400' value='1'/></p>
		<p><label>Location:</label><input name='storageLocation'/></p>
		<input type="hidden" name='location'/>
		<input type="hidden" name='dateTaken'/>
		<input type='hidden' name='whoBarrowed'/>
		<input type='hidden' name='creator'/>
		<input type='submit' value='Enter Item'>
	</form>

	<div class='flash-errors'>
		{{#if messages}}
			<p class='error-message'>{{messages.error}}</p>
		{{/if}}
	</div>

</div>


<div class='items-list'>
	<h2>List of items</h2>
	
	<div class='item-summary'>
	
		{{#each items}}
			<h3>{{this.name}}</h3>
			<p>{{this.description}}</p>
			<p><a href='/item/{{this._id}}'>{{this.name}} info and location</a></p>
		{{else}}
			<p>No items in the inventory</p>
		{{/each}}
	
	</div>
</div>