{{!-- header for the home page--}}
<h1>Inventory Items</h1>

{{!-- how to add a new item to the db--}}
<div class='new-item'>
	
	{{!-- The header above the inputs --}}
	<h2>Adding a new Item</h2>
	
	{{!-- Post to collect input for new items --}}
	<form method='POST' action='/addItem'>
		Name:<input name='name' required/>
		<br>Description: <input name='description'/>
		<br>Quanity: <input name='quanity'/>
		<br>Location:<input name='storageLocation'/>
		<input type="hidden" name'location'/>
		<input type="hidden" name'dateTaken'/>
		<br><input type='submit' value='Enter Item'>
	</form>
</div>

<div class='items-list'>
	<h2>List of items</h2>
	
	<div class='item-summary'>
	
		{{#each items}}
			<h3>{{this.name}}</h3>
			<p>{{this.description}}</p>
			<p><a href='/item/{{this._id}}'>{{this.name}} info and location</a></p>
		{{else}}
			<p>No items in the inventory</p>
		{{/each}}
	
	</div>
</div>