<!DOCTYPE html>
<html>
  <head>
	<!-- downloading the info that is need for the page to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	
	<!-- what is in the title if there is a username or not -->
	<title>{{#if username}}
				{{item.name}}
			{{else}}
				login
			{{/if}}</title>
	
   </head>
  <body>
	<!-- adding a home button to the Top of all the pages -->
	<a href="/">Home</a><!-- if statement that is showen when user is logged in -->
		<!-- if statement for the header for login or logout -->
		{{#if username}}
			hello, {{username}}
			<a href='/auth/logout'>Logout</a>
		{{else}}
			<a href='/auth'>Login or signup</a>
		{{/if}}
	<hr>
	<!-- the body of the pages, in views -->
    {{{body}}}
  </body>
</html>
